:root {
    --javascript-blue-dark: rgb(20, 100, 150, 1);
    --javascript-blue: rgba(0,100,190,1);
    --javascript-blue-light: rgba(0,100,190,0.5);
    --python-yellow: rgba(255,210,65,1);
    --python-blue: rgba(52,112,163);
    --dark-grey: rgba(51,51,51,1);
    --light-grey: rgba(51,51,51,0.2);
    --transition-time: 0.4s;
    --transition-scale: 1.2;
}    
* {
    font-size: 22px;
    padding:0;
    margin:0;
}    

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-grey);
    
}    


.header{
    padding-top:10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}    

.et-logo img {
    width: 60px;
    position: static;
    transition: all var(--transition-time) ease;
}    

.et-logo img:hover {
    transform: scale(var(--transition-scale));
}    

.wrapper {
    display: flex;
    flex-direction: row;
    width:100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    justify-content: center;
    gap: 10%;
    font-weight: 600;
}    

.grid-size-display {
    text-align: center;
}


.gridContainer {
    display:grid;
    background-color: white;
    width: 600px;
    height: 600px;
}

.gridItem {
    background-color: #008000;
    border: 1px solid #000000;
}

.pencil-color-input,
.bg-color-input {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pencilColorChanger,
.bgColorChanger {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
}



.command-menu {
    display: inherit;
    flex-direction: column;
    padding: 25px 20px;
    justify-content: space-around;
    border: 2px solid black;
    background-color: var(--light-grey)
}    

.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
}    

button {
    background-color: var(--javascript-blue-light);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}    

.eraser {
    width:100%;
    height:60px;
    border-radius: 20px;
    background-color: var(--javascript-blue-light);
}    

.eraser-toggled {
    background-color: var(--javascript-blue-dark);
    border: 5px solid rgba(0,0,0, 0.7);
}

button:hover {
    background-color: var(--javascript-blue);
}    
button:active {
    background-color:var(--javascript-blue-dark);
}    

.lgbt {
    width:50px;
    margin-right: 5px;
    background: linear-gradient(180deg, #FE0000 16.66%,
            #FD8C00 16.66%, 33.32%,
            #FFE500 33.32%, 49.98%,
            #119F0B 49.98%, 66.64%,
            #0644B3 66.64%, 83.3%,
            #C22EDC 83.3%);
}            

input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    background: var(--dark-grey)
}    

input[type=range] {
    height: 26px;
    margin: 10px 0;
    width: 100%;
  }  
  input[type=range]:focus {
    outline: none;  
  }  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;  
    height: 14px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
  }  
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;  
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: var(--javascript-blue);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }